<div class="social">
    <a href="">
        <div class="social-facebook-wrap">
            <div class="social-facebook">
                <div class="social-facebook-icon">
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="social-twitter-wrap">
            <div class="social-twitter">
                <div class="social-twitter-icon"></div>
            </div>
        </div>
    </a>
    <a class="icon-google-plus" href="" >
        <div class="social-google-wrap">
            <div class="social-google">
                <div class="social-google-icon"></div>
            </div>
        </div>
    </a>
</div>
