rewrite "^/tag/(.+)$" "http://{{ server_names[0] }}/ask/tag/$1" permanent;
rewrite "^/events($|/)" "http://{{ server_names[0] }}/event/all/" permanent;
rewrite "^/special/checkAgent($|/)" "http://{{ server_names[0] }}/mobile/checkAgent/" permanent;

location /promotion {
    rewrite "^/promotion/bmwjoy/.*$" http://{{ server_names[0] }}/zone/bmwjoy/ permanent;
    rewrite "^/promotion/bmwjoytest/.*$" http://{{ server_names[0] }}/zone/bmwjoy/?showWindow=true permanent;
    rewrite "^/promotion/gf3/.*$" http://{{ server_names[0] }}/test/guokrfact3/ permanent;
    rewrite "^/promotion/gf3qz/.*$" http://{{ server_names[0] }}/test/gkfact3qz/ permanent;
    rewrite "^/promotion/geeklove4q/.*$" http://{{ server_names[0] }}/test/geeklove4q/ permanent;
    rewrite "^/promotion/geeklove4qz/.*$" http://{{ server_names[0] }}/test/geeklove4qz/ permanent;
    rewrite "^/promotion/letsdate/.*$" http://{{ server_names[0] }}/test/letsdate/ permanent;
    rewrite "^/promotion/letsdateweibo/.*$" http://apps.weibo.com/letsdate permanent;
    rewrite "^/promotion/snapdragon/.*$" http://{{ server_names[0] }}/zone/snapdragon/ permanent;                               
    rewrite "^/promotion/yueryike/.*$" http://img1.guokr.com/gkimage/yueryike.pdf.gz permanent;
    rewrite "^/promotion/gkquiz/.*$" http://{{ server_names[0] }}/zone/guokrquiz/ permanent;
    rewrite "^/promotion/gkquiz-ask/.*$" http://{{ server_names[0] }}/ask/ permanent;
    rewrite "^/promotion/gkquiz-ask-latest/.*$" http://{{ server_names[0] }}/ask/latest/ permanent;
    rewrite "^/promotion/gkquiz-campus/.*$" http://{{ server_names[0] }}/zone/guokrquiz/campus/ permanent;

    rewrite "^/promotion/lifesaving/.*$" http://{{ server_names[0] }}/test/Lifesaving/ permanent;
    rewrite "^/promotion/myway/.*$" http://{{ server_names[0] }}/test/myway/ permanent;
    rewrite "^/promotion/career/.*$" http://{{ server_names[0] }}/zone/career/ permanent;
    rewrite "^/promotion/gettingtozero/.*$" http://{{ server_names[0] }}/zone/gettingtozero/ permanent;
    rewrite "^/promotion/guokrfact4/.*$" http://{{ server_names[0] }}/test/guokrfact4/ permanent;
    rewrite "^/promotion/guokrfact_2012/.*$" http://{{ server_names[0] }}/zone/guokrfact_2012/ permanent;
}

include m_url_adapters.conf;
include apis_includes.conf;
