{% extends '_base.html' %}

{% block title %}Edit - Blog - Avalon{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ static_file('js/lib/epiceditor.js') }}"></script>

<script>
    var editorOpts = {
        container: 'epiceditor',
        textarea: null,
        basePath: '',
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        useNativeFullscreen: true,
        parser: marked,
        file: {
            name: 'epiceditor',
            defaultContent: '',
            autoSave: 100
        },
        theme: {
            base: {{ static_file('/css/lib/epiceditor/base/epiceditor.css')|tojson|safe }},
            preview: {{ static_file('/css/lib/epiceditor/preview/preview-dark.css')|tojson|safe }},
            editor: {{ static_file('/css/lib/epiceditor/editor/epic-dark.css')|tojson|safe }}
        },
        button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
        },
        string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
        },
        autogrow: false
    }
</script>
<script type="text/javascript" src="{{ static_file('js/heracles/blog_edit.js') }}"></script>
{% endblock %}

{% block style %}
<link href="{{ static_file('css/heracles/blog_font.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_file('css/heracles/index.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div id="epiceditor">
</div>
{% endblock %}
