<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Avalon</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('apollo:www.main') }}">Home</a></li>
                <li><a href="{{ url_for('apollo:www.about') }}">About</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>

            {% if not request.ukey %}
            <form id="navLoginForm" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <a id="signInBtn" type="submit" class="btn btn-success" href="{{ url_for('zeus:account.login') }}">Sign in</a>
                <!--<a id="signUpBtn" type="button" class="btn btn-primary" href="{{ url_for('zeus:account.signup') }}">Sign up</a>-->
            </form>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                {% set user = user_meta(request.ukey) %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ user.nickname }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('apollo:www.profile', ukey=request.ukey) }}">Homepage</a></li>
                        <li><a href="{{ url_for('apollo:www.settings', ukey=request.ukey) }}">Settings</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
    <script type="text/javascript" src="{{ static_file('js/zeus/login.js') }}"></script>
</div>
