{% block sider %}
<div class="well sidebar-nav text-center">
    <div class=''>
        <img src="{{ static_file('img/me.jpg') }}" />
    </div>
    <ul class="nav nav-list">
        <li class="nav-header">
            <a href='mailto:littleyu.hit@gmail.com'>
                Jade
            </a>
        </li>
        <li>
            <a target='_blank' href="http://weibo.com/purefantacy">
                @风月离（微博）
            </a>
        </li>
        <li>
            <a target='_blank' href="http://www.guokr.com/i/0855024674/">
                @风月离（果壳）
            </a>
        </li>
        <li>
            <a target='_blank' href="#">
                @风月离（豆瓣）
            </a>
        </li>
        <li>&nbsp;</li>
        <li>Python攻城师</li>
        <li>中二</li>
        <li>略宅</li>
        <li>射手座</li>
    </ul>
    <p>“世界什么的只是枷锁而已”</p>
</div>
{% endblock %}
