{%- from "__nginx.jinja2" import server, listen, server_name, location, alias, include -%}
{%- from "__common.jinja2" import uwsgi, proxy -%}
{% call server() %}
{{ listen(port, is_default_server) }}
{{ server_name(*server_names) }}

{% include "sites/" ~ site_name ~ ".jinja2" ignore missing with context %}
set $domain "{{ domain }}";
include apis_includes;
{% for loc in locations %}
{%- call location(loc.name, loc.op) %}
{%- if loc.app.app_base == 'uwsgi' -%}
{{ uwsgi('app_' ~ loc.app.app_name) }}
{%- elif loc.type == 'proxy' -%}
{{ proxy('app_' ~ loc.app.app_name) }}
{%- elif loc.app.app_base == 'alias' -%}
{{ alias(loc.app.app_alias) }}
{%- elif loc.type == 'include' -%}
{{ include(loc.module) }}
{%- endif %}
{% if loc.name -%}
{% include "locations/" ~ loc.name ~ ".jinja2" ignore missing with context %}
{%- endif -%}
{% endcall %}
{% endfor %}
{% endcall %}
