a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.page {
  background-color: #f2f2f2;
  margin: 0px 0px -210px 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.page .header {
  padding: 61px 0px 66px 0px;
  text-align: center;
}
.page .header h1 {
  margin: 0px 7.5% 15px 7.5%;
  font-size: 60px;
  color: #323232;
  font-weight: normal;
  font-family: bitter, serif;
}
.page .header h1 a:hover {
  color: #181819;
  text-decoration: none;
}
.page .header h1 a:link {
  color: #323232;
}
.page .header h1 a:visited {
  color: #323232;
}
.page .header h2 {
  color: #b0b0b0;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  font-family: pt-sans, 'PT Sans', sans-serif;
}
.page .main {
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
}
.page .main .blog {
  background-color: white;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  margin: 0px 0px 50px 0px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  font-size: 16px;
  color: #676a6e;
}
.page .main .blog .post-permalink {
  margin: 0px 0px 10px 0px;
}
.page .main .blog h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  margin: 0;
  padding: 40px 7.5% 3px 7.5%;
  color: #252c33;
}
.page .main .blog h3 a:link {
  color: #252c33;
}
.page .main .blog h3 a:visited {
  color: #252c33;
}
.page .main .blog h3 a:hover {
  color: #0581d2;
  text-decoration: none;
}
.page .main .blog h3 a.title-permalink:hover {
  color: #252c33;
}
.page .main .blog span {
  font-size: 13px;
  text-align: center;
  color: #b8b8b8;
  display: block;
  font-family: pt-sans, 'PT Sans', sans-serif;
}
.page .main .blog .text {
  padding: 25px 7.5% 15px 7.5%;
  text-align: justify;
  color: #676a6e;
}
.page .main .blog .text h1,
.page .main .blog .text h2,
.page .main .blog .text h3,
.page .main .blog .text h4,
.page .main .blog .text h5,
.page .main .blog .text h6 {
  color: #414245;
  text-align: left;
  line-height: 40px;
}
.page .main .blog .text img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.page .main .blog .text h1 {
  margin: .67em 0;
}
.page .main .blog .text h3 {
  margin: .83em 0;
  text-align: left;
  padding: 0;
  color: #4d4f52;
}
.page .main .blog .text blockquote {
  margin: 0;
  border-left: 5px solid #e5e5e5;
  padding-left: 20px;
  font-style: italic;
}
.page .main .blog .text code {
  max-width: 100%;
  white-space: normal;
  display: block;
  background-color: #f0f0f0;
  color: #575b5e;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  margin: 15px 0px 15px 0px;
}
.page .main .blog .text ul {
  margin-left: 0;
  padding-left: 18px;
}
.page .main .blog .text ol {
  margin-left: 0;
  padding-left: 20px;
}
.page .main .blog .text a:link {
  color: #0581d2;
}
.page .main .blog .text a:visited {
  color: #0581d2;
}
.page .main .blog .text a:hover {
  text-decoration: underline;
}
.page .main .blog .text hr {
  background-color: #ebebeb;
  border: 0;
  height: 1px;
  margin: 1em 0;
}
.page .main .blog .tag-list-top {
  padding-left: 7.5%;
}
.page .main .blog .tag-list {
  padding-left: 7.5%;
}
.page .main .blog .tag-list a:link {
  color: #76ace0;
}
.page .main .blog .tag-list a:visited {
  color: #76ace0;
}
.page .main .blog .tag-list a:hover {
  color: #0581d2;
  text-decoration: none;
}
.page .main .blog .tag-list .tags-icon {
  padding-right: 10px;
  color: black;
  font-family: 'Glyphicons Halflings';
  display: inline;
}
.page .main .blog .meta {
  height: 20px;
  width: 100%;
  padding: 0px 0px 15px 0px;
  box-sizing: content-box;
}
.page .main .blog .meta .read-more {
  width: 120px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  font-size: 16px;
  float: right;
  margin: 0px 15px 0px 0px;
  text-align: right;
}
.page .main .blog-detail {
  background-color: white;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  margin: 0px 0px 50px 0px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  font-size: 16px;
  color: #676a6e;
  margin: 0 0 10px 0;
}
.page .main .blog-detail .post-permalink {
  margin: 0px 0px 10px 0px;
}
.page .main .blog-detail h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  margin: 0;
  padding: 40px 7.5% 3px 7.5%;
  color: #252c33;
}
.page .main .blog-detail h3 a:link {
  color: #252c33;
}
.page .main .blog-detail h3 a:visited {
  color: #252c33;
}
.page .main .blog-detail h3 a:hover {
  color: #0581d2;
  text-decoration: none;
}
.page .main .blog-detail h3 a.title-permalink:hover {
  color: #252c33;
}
.page .main .blog-detail span {
  font-size: 13px;
  text-align: center;
  color: #b8b8b8;
  display: block;
  font-family: pt-sans, 'PT Sans', sans-serif;
}
.page .main .blog-detail .text {
  padding: 25px 7.5% 15px 7.5%;
  text-align: justify;
  color: #676a6e;
}
.page .main .blog-detail .text h1,
.page .main .blog-detail .text h2,
.page .main .blog-detail .text h3,
.page .main .blog-detail .text h4,
.page .main .blog-detail .text h5,
.page .main .blog-detail .text h6 {
  color: #414245;
  text-align: left;
  line-height: 40px;
}
.page .main .blog-detail .text img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.page .main .blog-detail .text h1 {
  margin: .67em 0;
}
.page .main .blog-detail .text h3 {
  margin: .83em 0;
  text-align: left;
  padding: 0;
  color: #4d4f52;
}
.page .main .blog-detail .text blockquote {
  margin: 0;
  border-left: 5px solid #e5e5e5;
  padding-left: 20px;
  font-style: italic;
}
.page .main .blog-detail .text code {
  max-width: 100%;
  white-space: normal;
  display: block;
  background-color: #f0f0f0;
  color: #575b5e;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  margin: 15px 0px 15px 0px;
}
.page .main .blog-detail .text ul {
  margin-left: 0;
  padding-left: 18px;
}
.page .main .blog-detail .text ol {
  margin-left: 0;
  padding-left: 20px;
}
.page .main .blog-detail .text a:link {
  color: #0581d2;
}
.page .main .blog-detail .text a:visited {
  color: #0581d2;
}
.page .main .blog-detail .text a:hover {
  text-decoration: underline;
}
.page .main .blog-detail .text hr {
  background-color: #ebebeb;
  border: 0;
  height: 1px;
  margin: 1em 0;
}
.page .main .blog-detail .tag-list-top {
  padding-left: 7.5%;
}
.page .main .blog-detail .tag-list {
  padding-left: 7.5%;
}
.page .main .blog-detail .tag-list a:link {
  color: #76ace0;
}
.page .main .blog-detail .tag-list a:visited {
  color: #76ace0;
}
.page .main .blog-detail .tag-list a:hover {
  color: #0581d2;
  text-decoration: none;
}
.page .main .blog-detail .tag-list .tags-icon {
  padding-right: 10px;
  color: black;
  font-family: 'Glyphicons Halflings';
  display: inline;
}
.page .main .blog-detail .meta {
  height: 20px;
  width: 100%;
  padding: 0px 0px 15px 0px;
  box-sizing: content-box;
}
.page .main .blog-detail .meta .read-more {
  width: 120px;
  font-family: pt-sans, 'PT Sans', sans-serif;
  font-size: 16px;
  float: right;
  margin: 0px 15px 0px 0px;
  text-align: right;
}
.page .main .blog-pager {
  height: 40px;
  color: #b3b4b6;
  font-family: pt-sans, 'PT Sans', sans-serif;
  margin: 0 0 70px 0;
}
.page .main .blog-pager .blog-pager-index {
  width: 80%;
  height: 18px;
  margin: 10px 0px 0px 0px;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  z-index: 1;
  text-align: center;
}
.page .main .blog-pager a:link {
  text-decoration: none;
  color: #b3b4b6;
}
.page .main .blog-pager a:visited {
  text-decoration: none;
  color: #b3b4b6;
}
.page .main .blog-pager a:hover {
  color: #7f8284;
}
.page .main .blog-pager .blog-pager-newer {
  width: 125px;
  height: 40px;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  float: left;
  cursor: pointer;
  z-index: 2;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page .main .blog-pager .blog-pager-newer .blog-pager-newer-arrow {
  width: 36px;
  height: 40px;
  background-image: url(../../img/arrows.png);
  background-repeat: no-repeat;
  float: left;
}
.page .main .blog-pager .blog-pager-newer .blog-pager-newer-text {
  width: 89px;
  height: 29px;
  float: left;
  padding: 10px 0px 0px 0px;
  text-align: left;
}
.page .main .blog-pager .blog-pager-older {
  width: 125px;
  height: 40px;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  float: right;
  cursor: pointer;
  z-index: 2;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page .main .blog-pager .blog-pager-older .blog-pager-older-arrow {
  width: 36px;
  height: 40px;
  background-image: url(../../img/arrows.png);
  background-repeat: no-repeat;
  background-position: -44px 0px;
  float: right;
}
.page .main .blog-pager .blog-pager-older .blog-pager-older-text {
  width: 86px;
  height: 29px;
  float: left;
  padding: 10px 0px 0px 0px;
  text-align: right;
  cursor: pointer;
}
.page .main .social {
  height: 70px;
  margin: 0px 0px 70px 0px;
  background-color: white;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px rgba(0, 0, 0, 0.02);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page .main .social .social-facebook-wrap {
  width: 33%;
  height: 70px;
  float: left;
  cursor: pointer;
}
.page .main .social .social-twitter-wrap {
  width: 33%;
  height: 70px;
  float: left;
  cursor: pointer;
}
.page .main .social .social-google-wrap {
  width: 33%;
  height: 70px;
  float: left;
  cursor: pointer;
}
.page .main .social .social-facebook {
  width: 100%;
  height: 35px;
  border-right: 1px solid #f4f4f5;
  float: left;
  margin-top: 17px;
}
.page .main .social .social-twitter {
  width: 100%;
  height: 35px;
  border-right: 1px solid #f4f4f5;
  float: left;
  margin-top: 17px;
}
.page .main .social .social-google {
  width: 100%;
  height: 35px;
  float: left;
  margin-top: 17px;
}
.page .main .social .social-facebook-icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url(../../img/social.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.page .main .social .social-twitter-icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url(../../img/social.png);
  background-repeat: no-repeat;
  background-position: -20px 0px;
}
.page .main .social .social-google-icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url(../../img/social.png);
  background-repeat: no-repeat;
  background-position: -40px 0px;
}
.page .footer {
  width: 100%;
  height: 100px;
  padding: 33px 0px 0px 0px;
  background-color: white;
  text-align: center;
  font-family: pt-sans, 'PT Sans', sans-serif;
  color: #b3b4b6;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.02);
}
.page .footer a:link {
  color: #8e9093;
}
.page .footer a:visited {
  color: #8e9093;
}
.page .footer a:hover {
  color: #0581d2;
  text-decoration: none;
}
